@import "./variables";

.ghost-btn {
  color: $golden;
  border: 1px solid $golden;
  border-radius: 26px;
  padding: 10px;
  font-size: 14px;
  background-color: transparent;
}
.ghost-btn-fill {
  color: $white;
  border: 1px solid $golden;
  border-radius: 26px;
  padding: 10px;
  font-size: 14px;
  background-color: $golden;
}
