$bg-color: #1c202a;
$lg-color: #1c1406;

/*Basic text*/
$white: #fff;
$black: #000;
$placeholder: #5c648a;
$hyperlink: #00abe6;
$error: #f45b69;
$icon: #a6b1c8;
$golden: #b08339;


/*Component color*/
$overlay: #2c3040;

/*Buttons*/
$primary: #005ae6;


/*Grey shades*/
$light: #868ea3;
$dark: #101319;
$dard-II: #242834;

/*Input variables*/
$dark-underline: #35394c;
